@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

@font-face {
    font-family: Eczar;
    src: url(fonts/Eczar.ttf);
}

:root {
    --linear_gradient: linear-gradient(to right, #C70039 0%, #FF5733 100%);
    --section_gradient: linear-gradient(90.82deg, #232531 0.55%, #22242F 99.15%, #22242F 99.15%);
}

/* --------------------------- Some universal classes including various container structures and heading formating ----------------------------*/
body {
    background: var(--section_gradient);
}

section {
    /* max-width: 1400px; */
    margin: 0 auto;
}

.container {
    color: white;
}

.heading {
    /* Use this class for the heading of each section */
    font-weight: 500;
    font-size: 42px;
    background: var(--linear_gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    position: relative;
}

.line_under_heading {
    /* Use this class for the line under the heading of each section */
    position: relative;
    left: -65px;
    height: 3px;
    width: 149px;
    margin-top: 20px;
    background: var(--linear_gradient)
}

.red {
    background-color: red;
}


/* --------------------------------------------Universal formatting section ends --------------------------------------*/

/* ------------------------------------------NAVBAR---------------------------------------------------------------- */
#nav {
    background: #1B1D24;
    box-shadow: 0px 2px 50px rgba(40, 42, 53, 0.81);
    position: fixed;
    top: 0;
    z-index: 100000000;
}

/* #nav .container, .navbar{
    padding: 0px, 0px;
} */
.navbar {
    padding: 0px 0px !important;
}

.navbar-nav {
    margin-right: 10px;
    margin-left: auto;
    font-size: 18px !important;
}

.navbar-brand {
    position: relative;
}

.navbar-brand>img {
    position: absolute;
    left: -100px;
    height: 93px;
}

.navbar-brand span {
    font-family: 'Eczar' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 66px;
    color: #DEE0E7;
    padding: 0 0;
}

.nav-link {
    font-weight: 400 !important;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    margin: 0px 10px;
}

.nav-link-active {
    font-weight: 700 !important;
    color: #FF5733;
}

.logoSub {
    margin-left: 3px;
    font-size: 16px;
    color: var(--primary-blue);
}

.navbar-toggler-icon img {
    height: 23px;
}

/* .rulebookButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;

    width: 140px;
    height: 36px;

    background: var(--primary-blue);
    border-radius: 20px;
    font-weight: 100;
    border: none;
}
.rulebookButton:hover{
    background: #0F1F3D;
}
.navbar-toggler-icon{
    display :contents;
}
.rulebookButton img{
    height: 20px;
} */

/* ---------------------------------------------------------NAVBAR END------------------------------------------------------- */

/* ---------------------------------------------------------Home page start------------------------------------------------------- */
#home{
    margin-top: 160px;
    height: calc(100vh - 160px);
}
.home_heading{
    font-weight: 500;
    font-size: 96px;
    background: var(--linear_gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 50px;
}

.home_heading>span {
    font-family: 'Eczar' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 66px;
    color: white !important;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: white;
}

.home_para {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    font-weight: lighter;
}
.tag{
    font-size: 28px;
    font-weight: 400;
}
#home img{
    margin-left: 64px;
}


/* ----------------------------speaker section--------------------------- */

/* .speaker_cont {
    position: relative;
} */

.speaker_name {
    position: absolute;
    top: 20px;
    left: 300px;
    color: #ffffff;
    font-weight: 500;
    font-size: 40px;
}

.img_speaker {
    width: 100%;
    max-width: 350px;
    height: auto;
}

.speaker_info {
    width: 400px;
    padding-left: 50px;
}

.speaker_social {
    width: 150px;
}

.line {
    width: 350px;
    height: 3px;
    background: var(--linear_gradient);
}

.line_spe {
    rotate: 270deg;
    height: auto;
}

.line_content {
    font-weight: 200;
    font-size: 16px;
    color: #ffffff;
}

.speaker_post {
    font-size: 30px;
    background: var(--linear_gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.speaker_content {
    font-size: 16px;
    color: #ffffff;
}

@media only screen and (max-width: 1199px) {
    .speaker_info {
        padding-left: 50px;
        width: 300px;
    }
}

@media only screen and (max-width: 991px) {
    .speaker_info {
        padding-left: 0px;
        width: 300px;
    }

}
@media only screen and (max-width: 767px){
    .line_speaker {
        visibility: hidden;
    }
}

@media only screen and (max-width: 475px) {
    .speaker_name {
        font-size: 25px;
        left: 20px;
        width: 50px;
    }

    .line_speaker {
        visibility: hidden;
    }
}

/* speaker section end */






/*---------------------------Event Section-----------------------------*/

.card-graphica {
    /* background: linear-gradient(89.73deg, #C70039 0.13%, #FF5733 99.69%); */
    background: var(--linear_gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 32px;
    /* identical to box height */

    letter-spacing: 0.02em;

}

.nov {
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #F6F6F2;
}

.inner-content {
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #D9D9D9;

}

.main-card {
    background: linear-gradient(120.72deg, #1B1D24 1.62%, rgba(67, 71, 84, 0) 62.87%, rgba(27, 29, 36, 0) 70.33%);
    filter: drop-shadow(0px 1px 34px rgba(205, 9, 56, 0.15));
    overflow: hidden;
    padding: 30px;
    background-color: #21232F;
}

.rulebook,
.resources {
    border: none;
    background: linear-gradient(89.73deg, #C70039 0.13%, #FF5733 99.69%);
    border-radius: 3px;
    color: white;
    /* margin-right: 10px; */
    margin-top: 20px;
    font-size: 10px;
}
.resources{
    margin-left: 5px;
}

.now {
    position: absolute;
    bottom: -25%;
    right: -25%;
    z-index: -1;

}

.line-image{
    height: 237px;
}

/* .now2{
    margin: 0px;
    li
} */

/* .line_under_heading {
    height: 3px;
    width: 149px;
    margin-top: 20px;
    background: var(--linear_gradient); */



/*---------------------------Event Section Ends-----------------------------*/
/*---------------------------Mentor Section-----------------------------*/
.mcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*--------------------------Mentor Section Ends------------------------*/
/*footer */

.footer1 ul {
    color: wheat;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer1 ul li {
    padding-left: 50px;
}

.footer2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;

}
/*--------faqs section-----*/
    .faqs{
    display:flex;
    align-items: center;
    justify-content: center;
}

.container1{
        width: 720px;
        height: 730px;
        left: -9px;
        top: 4438px;
}
.accordion-item{
    background-color:var(--section_gradient);
    border-radius: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}
.accordion-link{
    font-size: 1.6rem;
    color:rgb(60, 139, 86);
    text-decoration: none;
    background-color: #283042; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:start;
    padding: 1rem 0;
}
.accordion-link i{
    color: #e7d5ff;
    padding: 0.5rem;
}
.accordion-link .fa-minus{
    display: none;
}
.answer{
    /* max-height: 0;
    overflow: hidden; */
    position: relative;
    background-color:#4C4F54;
}
.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color:red;
    top: 50%;
    left: 0;
    transform:translateY(-50%) ;
}
.answer p{
    font-size:1.4rem;
    color: rgba(255,255,255,.6);
} 