*{
    padding: 0;
    margin: 0;
}

section{
    max-width: 1400px;
    margin: 0 auto;
}

.red{
    background-color: red;
}


/*---------------------------Mentor Section-----------------------------*/
.mcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*--------------------------Mentor Section Ends------------------------*/
